body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100vw;
    height: 100vh;
}

header{
    width: 98vw;
    padding: 20px;
    color: white;
    background-color: lightcoral;
    font-size: 150%;
}


.correct {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    color: white;
    width: 100vw;
    height: 100vh;
}

.wrong {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    color: white;
    width: 100vw;
    height: 100vh;
}

main {
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}


.container {
    max-width: 50vw;
    min-width: 50vw;
    background-color: lightcoral;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    box-shadow: 0 0 8px 2px;
}

#top-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 3px;
    border-bottom: 2px solid white;
}

#question {
    text-align: center;
}

#timer {
    text-align: center;
    font-size: 115%;
}

#answer-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin: 25px 5px;
    gap: 30px;
}

.btn {
    font-size: auto;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;

}

.btn:hover {
    border-color: white
}

btn.correct {
    background-color: rgb(117, 185, 15);
}

btn.wrong {
    background-color: rgb(228, 74, 74);
}

#submit {
    padding: 8px;
    margin: 3px;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
