body {
    background-color: deeppink;
}

#timer {
    font-size: 30px;
    color: #f7d2ee;
    width: 2.75em;
    display: inline;
}

#timerDisplay {
    font-size: 30px;
    color: #f7d2ee;
    width: 2.5em;
    margin-top: 1em;
    display: flex;
    display: inline;
    font-family: 'Roboto Slab', serif;
}

h1 {
    color: #f7d2ee; 
    font-family: 'Roboto Slab', serif;
    font-size: 7em;
    text-align: center;
}

#startBtn {
    height: 1.25em;
    width: 6em;
    font-size: 60px;
    background-color: black;
    color: #f7d2ee;
    margin: auto;
    display: block;
}

#submitBtn {
    height: 3em;
    width: 8em;
    font-size: 25px;
    background-color: black;
    color: #f7d2ee;
    margin: auto;
    display: block;
    /* visibility: hidden; */
}

#quiz {
    color: #f7d2ee;
    font-size: 40px;
    font-family: 'Roboto Mono', serif;
    text-align: center;
    display: none;
}

.form {
    visibility: hidden;
}

#quest {
    font-size: 25px;
    font-family: 'Roboto Mono', serif;
}

.buttons {
    color: #f7d2ee;
    font-family: 'Roboto Mono', serif;
    font-size: 20px;
}

.hidden {
    visibility: hidden;
}
